{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    Bienvenue sur la page d'accueil
    <div>
          <a href="{{path('app_login')}}" class="btn btn-success btn-block text-center w-20">Connexion</a>
    </div>
     {% if app.user == false  %} <a  href="{{path('register') }}" class="btn btn-primary btn-block text-center w-20"> S'inscrire </a>
            {% else%}
            <div>
                  <a href="{{path('app_logout')}}" class="btn btn-danger btn-block text-center w-20">Deconnexion</a>
            </div>
     {% endif %}

{% endblock %}